<div class="jumbotron mt-5" *ngFor="let v of venue">
  <div>
    <h3>
      Lugar:
      <small class="text-muted">{{v.name}} </small>
    </h3> 
    <h3>
      Dirección:
      <small class="text-muted">{{v.address}}</small>
    </h3>
    <h3>
      Teléfono de contacto:
      <small class="text-muted">{{v.phone}}</small>
    </h3>  
    <h3>
      Aforo:
      <small class="text-muted">{{v.totalSeats}}</small>
    </h3> 
  </div>
  
  <hr class="mt-3" />

  <form #formAddEvent="ngForm" (ngSubmit)="onSubmit()" id="form-add-event">
    <div class="form-group">
      <label for="name">
        Nombre del Evento
        <span *ngIf="!name.valid && name.touched" class="badge badge-primary">El nombre del evento es obligatorio</span>
      </label>
      <input class="form-control" type="text" #name="ngModel" id="name" name="name" [(ngModel)]="event.name" placeholder="Nombre del Evento" required="">
    </div>

    <div class="form-group">
      <label for="date">
        Fecha
        <span *ngIf="!date.valid && date.touched" class="badge badge-primary">La Fecha del evento es obligatoria</span>
      </label>
      <input class="form-control" type="text" #date="ngModel" id="date" name="date" [(ngModel)]="event.date" placeholder="fecha" required="">
    </div>

    <div class="form-group">
      <label for="aforo">
        Aforo del Evento
        <span *ngIf="!aforo.valid && aforo.touched" class="badge badge-primary">El Aforo es obligatorio</span>
      </label>
      <input class="form-control" type="text" #aforo="ngModel" id="aforo" name="aforo" [(ngModel)]="event.aforo" placeholder="Aforo del evento" required="">
    </div>

    <div class="form-group">
      <h3>Artistas</h3>
    </div>
    <div class="form-group" *ngIf="+event.aforo <= +v.totalSeats; else noAforo">
      <button type="submit" class="btn btn-default" [disabled]="!formAddEvent.form.valid" >Siguiente</button>
    </div>
    <ng-template #noAforo>
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">El aforo del evento no puede ser mayor al evento del Lugar.</p>
          </div>
          <button type="submit" class="btn btn-default" [disabled]="formAddEvent.form.valid" >Siguiente</button>

    </ng-template>
  </form>  
</div>