<div class="jumbotron mt-3">
  <h1 class="display-3">Gestión de Eventos - Tickets</h1>
  <p class="lead">Gestione eventos y generación de tickets.</p>
  <hr class="my-4">

  <div *ngIf="isLogin;else noLogin">
      Haga click <a class="" href="#"  routerLink="/private">aquí</a> para ir a la página principal de gestión.
      
  </div>
  
  <ng-template #noLogin>
      <p>Ingrese para la gestión, haga click en <a class="" href="#"  routerLink="/login">Login</a>.</p>
  </ng-template>
  
  
 
</div>