<div class="jumbotron mt-5">
    <h2>{{title}}</h2>

    <div *ngFor="let e of event">
        <h3>
          Lugar:
          <small class="text-muted">{{e.venue}} </small>
        </h3> 
        
      
        <h3>
          Dirección:
          <small class="text-muted">{{e.address}}</small>
        </h3>
        <h3>
          Teléfono de contacto:
          <small class="text-muted">{{e.phone}}</small>
        </h3>  
        <h3>
          Aforo:
          <small class="text-muted">{{e.seats}}</small>
        </h3> 
        <hr class="mt-3" />
        <h3>
          Nombre del Evento:
          <small class="text-muted">{{e.nameEvent}}</small>
        </h3>
      
      
        <h3>
          Fecha:
          <small class="text-muted">{{e.date}}</small>
        </h3>
        
  </div>      
  <hr class="mt3">
  
    <form #formAddSection="ngForm" (ngSubmit)="onSubmit()" id="form-add-section" class="col-lg-6">
      <div class="form-group">
        <h3>Localidad</h3>
        <ng-select [items]="configurations"
                   bindLabel="name"
                   bindValue="idConfiguration"
                   placeholder="Selecciona la Localidad"
                   [(ngModel)]="idEvent"
                   (change)="selected($event)"
                   [ngModelOptions]="{standalone: true}">
          </ng-select>
          
      </div>
  
      <div class="form-group">
        <h3 for="name">Nombre de la sección</h3>
        <input class="form-control" type="text" id="name" name="name" [(ngModel)]="name" placeholder="nombre de la seccion">
      </div>
  
      
      <a (click)="addSectionTable(name);" class="btn btn-sm btn-warning">Agregar</a>
      
      <hr class="mt-3">

      <table id="entry-grid" datatable="ng" class="table table-hover">
        <thead>
          <tr>
            <!--th style="width: 1%" class="text-center">No.</th-->
            <th>Localidad</th>
            <th>Seccion</th>
            <th>Acciones</th>
            <!--th></th-->
          </tr>
        </thead>
        <tbody>
          <tr align="left" *ngFor="let section of sectionsConf">
            <td>{{section.localidad}}</td>
            <td>{{section.sectionName}}</td>
            <td>
              <div class="botones" *ngIf="section.idSection;else noId">
                  <!--a class="btn btn-outline-danger" (click)="onDeleteSection(section);"><i class="fa fa-minus-circle"></i></a-->
                  <a class="btn btn-outline-danger" (click)="open(DelSection);"><i class="fa fa-minus-circle"></i></a>

              </div>
              <ng-template #noId>
                  <a (click)="onDeleteSection(section);" class="btn btn-sm btn-danger">Quiero eliminarlo</a>
              </ng-template>
              <ng-template #DelSection let-c="close" let-d="dismiss">
                  <div class="modal-header">
                      <h4 class="modal-title">Atención</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Esta a punto de eliminar esta Localidad!&hellip;</p>
                      <p>¿Desea continuar con esta acción?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="deleteSection(section);onDeleteSection(section);c('Close click')" >Eliminar</button>
                      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>

              </ng-template>

            </td>
          </tr>     
        </tbody>
      </table>
  
      <button type="submit" class="btn btn-default">Siguiente</button>
  
    </form>
  
  
  
  
    </div>