
<div class="jumbotron mt-5" *ngFor="let e of event">
  <h3>
    Lugar:
    <small class="text-muted">{{e.venue}} </small>
  </h3> 
  

  <h3>
    Dirección:
    <small class="text-muted">{{e.address}}</small>
  </h3>
  <h3>
    Teléfono de contacto:
    <small class="text-muted">{{e.phone}}</small>
  </h3>  
  <h3>
    Aforo:
    <small class="text-muted">{{e.seats}}</small>
  </h3> 
  <hr class="mt-3" />
  <h3 *ngIf="!editVenue; else noEditName">
    Nombre del Evento:
    <small class="text-muted">{{e.nameEvent}}</small><small><a (click)="editEventName(true)"> <i class="fa fa-edit"></i></a></small>
  </h3>

  <ng-template #noEditName>
    <h3>
      Nombre del Evento:
      <small class="text-muted"><input type="text" class="editable-cell" [(ngModel)]="e.nameEvent" /> </small><small><a (click)="updateEventDetail(false, e)"><i class="fa fa-save"></i></a></small>
    </h3>
  </ng-template>


  <h3 *ngIf="!editDate; else noEditDate">
    Fecha:
    <small class="text-muted">{{e.date}}</small><small><a (click)="editEventDate(true)"> <i class="fa fa-edit"></i></a></small>
  </h3>
  <ng-template #noEditDate>
    <h3>
      Fecha:
      <small class="text-muted"><input type="text" class="editable-cell" [(ngModel)]="e.date" /> </small><small><a (click)="saveEventDate(false, e)"><i class="fa fa-save"></i></a></small>
    </h3>
  </ng-template>
  
  
  <hr class="mt-3" />
  <div *ngIf="getSumRows() <= getSumSeats() && getSumSeats() <= e.seats;else errorAforo">
    <h3>
        Aforo Localidades: <small class="text-muted">{{getSumSeats()}}</small>
    </h3>
    <h3>
        Aforo total configurado: <small class="text-muted">{{getSumRows()}}</small>
    </h3>
    <hr class="mt-2">
    <div *ngIf="getSumSeats() < e.seats">
        <h4>
            Agregar Localidades:<a class="btn btn-outline-success" (click)="agregarLocalidades();"><i class="fa fa-plus"></i></a> 
        </h4>
        <h4>
            Agregar Secciones: <a class="btn btn-outline-success" (click)="agregarSecciones();"><i class="fa fa-plus"></i></a> 
        </h4>
    </div>
  </div> 
  <ng-template #errorAforo>
      <div *ngIf="getSumRows() <= getSumSeats();else error2" class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p class="mb-0">Error! El Aforo de Localidades no puede superar el Aforo total del evento.</p>
          <div>
          <p>Aforo Localidades: {{getSumSeats()}}</p> 
          <p>Aforo total configurado: {{getSumRows()}}</p>
        </div>
          
          <h4 class="alert-heading">Warning!</h4>
        </div>
        <ng-template #error2>
            <div *ngIf="getSumSeats() <= e.seats" class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">Error! El aforo de filas no puede superar el Aforo de la localidad.</p>
                <div>
                <p>Aforo Localidades: {{getSumSeats()}}</p> 
                <p>Aforo total configurado: {{getSumRows()}}</p>
              </div>
              </div>
        </ng-template>
  </ng-template> 
  
  <hr class="mt-3" />

  <h3>Localidades: </h3>
  <div class="card border-primary mb-3">
    <table id="entry-grid-r" datatable="ng" class="table table-striped">
        <thead>
            <tr align="left">
              <th>Localidad</th>
              <th>Aforo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody *ngIf="!editConfigurations;else noEditConfiguration">
              <tr align="left" *ngFor="let configuration of configurations">
                <td>{{configuration.name}}</td>
                <td>{{configuration.seatsNumber}}</td>
                <td>
                    <a class="btn btn-outline-warning" (click)="editConfiguration(true, configuration)"><i class="fa fa-edit"></i></a>
                </td>
              </tr>
          </tbody>
          <ng-template #noEditConfiguration>
              <tbody>
                <tr align="left" *ngFor="let configuration of configurations">
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="configuration.name" > </td>
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="configuration.seatsNumber" > </td>
                      <td><a class="btn btn-outline-success" (click)="updateConfiguration(false, configuration)"><i class="fa fa-save"></i></a>|<a class="btn btn-outline-primary" (click)="cancelConfiguration(false)"><i class="fa fa-ban"></i></a></td>
                </tr>
            </tbody>
            </ng-template>
    </table>
  </div>
  <hr class="mt-3" />

  <h3>Secciones: </h3>
  <div class="card border-primary mb-3">
    <table id="entry-grid-sec" datatable="ng" class="table table-striped">
      <thead>
        <tr align="left">
          <th>Localidad</th>
          <th>Sección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="!editSections;else noEditSection">
          <tr align="left" *ngFor="let section of sections">
            <td>
                {{section.localidad}}
            </td>
            <td>
                {{section.sectionName}}
            </td>
            <td>
                  <a class="btn btn-outline-warning" (click)="editSection(true, section)"><i class="fa fa-edit"></i></a>
            </td>
          </tr>
      </tbody>
      <ng-template #noEditSection>
        <tbody>
          <tr align="left" *ngFor="let section of sections">
                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="section.localidad" disabled > </td>
                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="section.sectionName" > </td>
                <td><a class="btn btn-outline-success" (click)="updateSection(false, section)"><i class="fa fa-save"></i></a>|<a class="btn btn-outline-primary" (click)="cancelSection(false)"><i class="fa fa-ban"></i></a></td>
          </tr>
      </tbody>
      </ng-template>
    </table>
  </div>


  <hr class="mt-3" />

  <div *ngIf="getSumRows() > getSumSeats()" class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Error! El aforo de filas no puede superar el Aforo de la localidad.</p>
        
    </div>

<h3>Filas: </h3>
<div class="card border-primary mb-3">
    <table id="entry-grid" datatable="ng" class="table table-striped">
      <thead>
        <tr align="left">
          <th>Localidad</th>
          <th>Aforo</th>
          <th>Sección</th>
          <th>Fila</th>
          <th>Aforo por Fila</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="!editDetails;else noEventDetail">
        <tr align="left" *ngFor="let row of rows">
          <td>{{row.localidad}}</td>
          <td>{{row.seatsNumber}}</td>
          <td>{{row.sectionName}}</td>
          <td>{{row.rowName}}</td>
          <td>{{row.seatsPerRow}} - {{row.isSeatsOK}}</td>
          <td>
              <!--div *ngIf="!isGenerated(row.idRow);else noGenerate"-->
              <div *ngIf="row.isTicketsGenerated == 0;else noGenerate">
                  <a class="btn btn-outline-warning" (click)="editDetail(true, e)"><i class="fa fa-edit"></i></a> | 
                  <a class="btn btn-outline-danger" (click)="open(EliminarFila);"><i class="fa fa-minus-circle"></i></a> |
                  <a class="btn btn-outline-danger" (click)="generarTickets(row);"><i class="fa fa-minus-cirwcle"> Generar tickets</i></a>
              </div>
              <ng-template #noGenerate>
                  <a class="btn btn-outline-warning" (click)="editDetail(true, e)"><i class="fa fa-edit"></i></a> | 
                  <a class="btn btn-outline-danger" (click)="open(EliminarFila);"><i class="fa fa-minus-circle"></i></a> |
                  <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
              </ng-template> 
          </td>
          <ng-template #EliminarFila let-c="close" let-d="dismiss">
              <div class="modal-header">
                  <h4 class="modal-title">Atención</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Esta a punto de eliminar esta Fila!&hellip;</p>
                  <p>¿Desea continuar con esta acción?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="eliminarRow(row);c('Close click')" >Eliminar</button>
                  <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                </div>
          </ng-template>
        </tr>   
        
        

      </tbody>
      <ng-template #noEventDetail>
        <tbody>
          <tr align="left" *ngFor="let row of rows">
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.localidad" disabled > </td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsNumber" disabled ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.sectionName" disabled ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.rowName" ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsPerRow" (input)="seatsPerRow(row)" ></td>
              <td>
                <!--div *ngIf="!isGenerated(row.idRow);else noGenerateT"-->
                <div *ngIf="row.isTicketsGenerated == 0;else noGenerateT">
                  <div *ngIf="row.isSeatsOK;else noSeatsOk">
                      <a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                      <a class="btn btn-outline-success" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
                      |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                  
                  </div>
                  <ng-template #noSeatsOk>
                     <a class="btn btn-outline-success disabled" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                    <a class="btn btn-outline-success" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
                    |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                  
                  </ng-template>
                </div>
                <ng-template #noGenerateT>
                    <div *ngIf="row.isSeatsOK;else noSeatsOkNT">
                      <a class="btn btn-outline-success" (click)="open(MensajeBorrar);"><i class="fa fa-save"></i></a>
                      <!--a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a--> | 
                      <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                      |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                    </div> 
                    <ng-template #noSeatsOkNT>
                        <a class="btn btn-outline-success disabled" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                        <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                       |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                     
                     </ng-template> 
                  </ng-template>

                  <ng-template #MensajeBorrar let-c="close" let-d="dismiss">
                      <div class="modal-header">
                          <h4 class="modal-title">Atención</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Al realizar esta acción se eliminará los tickets generados para esta fila!&hellip;</p>
                          <p>¿Desea continuar con esta acción?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="saveEventDetail(false, row);" >Guardar</button>
                          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                        </div>
                  </ng-template>

                  
              </td>
          </tr>
        </tbody>
      </ng-template>
      
     

</table>
  </div>
</div>
