
<div class="jumbotron mt-5" *ngFor="let e of event">
  <h3>
    Lugar:
    <small class="text-muted">{{e.venue}} </small>
  </h3> 
  

  <h3>
    Dirección:
    <small class="text-muted">{{e.address}}</small>
  </h3>
  <h3>
    Teléfono de contacto:
    <small class="text-muted">{{e.phone}}</small>
  </h3>  
  <h3>
    Aforo:
    <small class="text-muted">{{e.seats}}</small>
  </h3> 
  <hr class="mt-3" />
  <h3 *ngIf="!editVenue; else noEditName">
    Nombre del Evento:
    <small class="text-muted">{{e.nameEvent}}</small><small><a (click)="editEventName(true)"> <i class="fa fa-edit"></i></a></small>
  </h3>

  <ng-template #noEditName>
    <h3>
      Nombre del Evento:
      <small class="text-muted"><input type="text" class="editable-cell" [(ngModel)]="e.nameEvent" /> </small><small><a (click)="updateEventDetail(false, e)"><i class="fa fa-save"></i></a></small>
    </h3>
  </ng-template>


  <h3 *ngIf="!editDate; else noEditDate">
    Fecha:
    <small class="text-muted">{{e.date}}</small><small><a (click)="editEventDate(true)"> <i class="fa fa-edit"></i></a></small>
  </h3>
  <ng-template #noEditDate>
    <h3>
      Fecha:
      <small class="text-muted"><input type="text" class="editable-cell" [(ngModel)]="e.date" /> </small><small><a (click)="saveEventDate(false, e)"><i class="fa fa-save"></i></a></small>
    </h3>
  </ng-template>



  <hr class="mt-3" />
  <div *ngFor="let seats of totalSeats">
      <h3>
          Aforo Localidades: <small class="text-muted">{{seats.seatsPerConfigurations}}</small>
      </h3>
      <h3>
          Aforo total configurado: <small class="text-muted">{{seats.seatsPerRow}}</small>
      </h3>
      
  
    <div *ngIf="seats.seatsPerRow < e.seats;else noGenerateAdd">
      <h3>Incompleto</h3>
        <ng-template #noGenerateAdd>
            <h3>Completo</h3>
        </ng-template>
    </div>
  </div>
  <!--h3>Configuraciones</h3>

  <div  *ngIf="createdConfigurations;else noConfig">
    <span class="h4">Localidad:</span><span class="badge badge-success">Localidades creadas</span> - <a class="" [routerLink]="['/edit-configurations', e.idEvent]" ><i class="fa fa-edit"> Editar Localidades</i> </a>
  </div>
  <ng-template #noConfig>
      <span class="h4">Localidad:</span><span class="badge badge-primary">Localidades no creadas</span> - <a class="" ><i class="fa fa-plus-square"> Crear Localidades</i></a>
  </ng-template>
  <br>

  <div *ngIf="createdSections;else noSection">
    <span class="h4">Secciones:</span><span class="badge badge-success">Secciones creadas</span> - <a class="" ><i class="fa fa-edit"> Editar Secciones</i> </a>
  </div>
  <ng-template #noSection>
      <span class="h4">Secciones:</span><span class="badge badge-primary">Sectiones no creadas</span> - <a class="" ><i class="fa fa-plus-square"> Crear Secciones</i></a>
  </ng-template-->
  <hr class="mt-3" />

  <h3>Localidades: </h3>
  <div class="card border-primary mb-3">
    <table id="entry-grid-r" datatable="ng" class="table table-striped">
        <thead>
            <tr align="left">
              <th>Localidad</th>
              <th>Aforo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody *ngIf="!editConfigurations;else noEditConfiguration">
              <tr align="left" *ngFor="let configuration of configurations">
                <td>{{configuration.name}}</td>
                <td>{{configuration.seatsNumber}}</td>
                <td>
                    <a class="btn btn-outline-warning" (click)="editConfiguration(true, configuration)"><i class="fa fa-edit"></i></a>
                </td>
              </tr>
          </tbody>
          <ng-template #noEditConfiguration>
              <tbody>
                <tr align="left" *ngFor="let configuration of configurations">
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="configuration.name" > </td>
                      <td><input type="text" class="form-control form-control-sm" [(ngModel)]="configuration.seatsNumber" > </td>
                      <td><a class="btn btn-outline-success" (click)="updateConfiguration(false, configuration)"><i class="fa fa-save"></i></a>|<a class="btn btn-outline-primary" (click)="cancelConfiguration(false)"><i class="fa fa-ban"></i></a></td>
                </tr>
            </tbody>
            </ng-template>
    </table>
  </div>
  <hr class="mt-3" />

  <h3>Secciones: </h3>
  <div class="card border-primary mb-3">
    <table id="entry-grid-sec" datatable="ng" class="table table-striped">
      <thead>
        <tr align="left">
          <th>Localidad</th>
          <th>Sección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="!editSections;else noEditSection">
          <tr align="left" *ngFor="let section of sections">
            <td>
                {{section.localidad}}
            </td>
            <td>
                {{section.sectionName}}
            </td>
            <td>
                  <a class="btn btn-outline-warning" (click)="editSection(true, section)"><i class="fa fa-edit"></i></a>
            </td>
          </tr>
      </tbody>
      <ng-template #noEditSection>
        <tbody>
          <tr align="left" *ngFor="let section of sections">
                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="section.localidad" disabled > </td>
                <td><input type="text" class="form-control form-control-sm" [(ngModel)]="section.sectionName" > </td>
                <td><a class="btn btn-outline-success" (click)="updateSection(false, section)"><i class="fa fa-save"></i></a>|<a class="btn btn-outline-primary" (click)="cancelSection(false)"><i class="fa fa-ban"></i></a></td>
          </tr>
      </tbody>
      </ng-template>
    </table>
  </div>


  <hr class="mt-3" />



<h3>Filas: </h3>
<div class="card border-primary mb-3">
    <table id="entry-grid" datatable="ng" class="table table-striped">
      <thead>
        <tr align="left">
          <th>Localidad</th>
          <th>Aforo</th>
          <th>Sección</th>
          <th>Fila</th>
          <th>Aforo por Fila</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="!editDetails;else noEventDetail">
        <tr align="left" *ngFor="let row of rows">
          <td>{{row.localidad}}</td>
          <td>{{row.seatsNumber}}</td>
          <td>{{row.sectionName}}</td>
          <td>{{row.rowName}}</td>
          <td>{{row.seatsPerRow}} - {{row.isSeatsOK}}</td>
          <td>
            
              <div *ngIf="!isGenerated(row.idRow);else noGenerate">
                  <a class="btn btn-outline-warning" (click)="editDetail(true, e)"><i class="fa fa-edit"></i></a> | 
                  <a class="btn btn-outline-danger" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
              </div>
              <ng-template #noGenerate>
                  <a class="btn btn-outline-warning" (click)="editDetail(true, e)"><i class="fa fa-edit"></i></a> | 
                  <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
              </ng-template> 
          </td>
        </tr>   
        
        

      </tbody>
      <ng-template #noEventDetail>
        <tbody>
          <tr align="left" *ngFor="let row of rows">
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.localidad" disabled > </td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsNumber" disabled ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.sectionName" disabled ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.rowName" ></td>
              <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsPerRow" (input)="seatsPerRow(row)" ></td>
              <td>
                <div *ngIf="!isGenerated(row.idRow);else noGenerateT">
                  <div *ngIf="row.isSeatsOK;else noSeatsOk">
                      seatOk {{row.isSeatsOK}}<a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                      <a class="btn btn-outline-success" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
                      |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                  
                  </div>
                  <ng-template #noSeatsOk>
                     noSeat {{row.isSeatsOK}}<a class="btn btn-outline-success disabled" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                    <a class="btn btn-outline-success" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
                    |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                  
                  </ng-template>
                </div>
                <ng-template #noGenerateT>
                    <div *ngIf="row.isSeatsOK;else noSeatsOkNT">
                      noG Borrar - {{row.isSeatsOK}}
                      <a class="btn btn-outline-success" (click)="open(MensajeBorrar);"><i class="fa fa-save"></i></a>
                      <!--a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a--> | 
                      <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                      |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                    </div> 
                    <ng-template #noSeatsOkNT>
                        noG - Borrar Tickets {{row.isSeatsOK}}<a class="btn btn-outline-success disabled" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                        <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                       |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                     
                     </ng-template> 
                  </ng-template>

                  <ng-template #MensajeBorrar let-c="close" let-d="dismiss">
                      <div class="modal-header">
                          <h4 class="modal-title">Atención</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Al realizar esta acción se eliminará los tickets generados para esta fila!&hellip;</p>
                          <p>¿Desea continuar con esta acción?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="saveEventDetail(false, row);" >Guardar</button>
                          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                        </div>
                  </ng-template>
              </td>
          </tr>
        </tbody>
      </ng-template>
      
      <!--ng-template #noEventDetail>
        <tbody>
          <tr align="left" *ngFor="let row of rows">
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.localidad" disabled > </td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsNumber" disabled ></td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.sectionName" disabled ></td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.rowName" ></td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="row.seatsPerRow" (input)="seatsPerRow(row)" ></td>
            <td>
                
                <div *ngIf="!isGenerated(row.idRow);else noGenerate1">
                  <div *ngIf="row.isSeatsOk;else noOk">
                    <a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                    <a class="btn btn-outline-success" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
                    |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                  
                    <ng-template #noOk>
                        <a class="btn btn-sm btn-danger disabled" (click)="saveEventDetail(false, row);" ><i class="fa fa-save"></i></a> | 
                        <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                        |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
    
                    </ng-template>
                  
                  </div>
                  <ng-template #noGenerate1>
                      {{row.seatsPerRow}} |  {{row.seatsNumber}}
                      <div *ngIf="row.isSeatsOk;else noOk1">
  
                        <a class="btn btn-outline-success" (click)="saveEventDetail(false, row);"><i class="fa fa-save"></i></a> | 
                        <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                        |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
                        <ng-template #noOk1>
                            <a class="btn btn-sm btn-danger disabled" (click)="saveEventDetail(false, row);" ><i class="fa fa-save"></i></a> | 
                            <a class="btn btn-outline-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-download"></i></a>
                            |<a class="btn btn-outline-primary" (click)="cancelEventDetail(false)"><i class="fa fa-ban"></i></a>
        
                        </ng-template>
                      </div>
                  </ng-template>                  

                </div>
                
                
                
  
                
                
            </td>
          </tr> 
        </tbody>
        </ng-template-->

</table>
  </div>
</div>
