<div class="jumbotron mt-5" *ngFor="let e of event">
  <h3>
    Lugar:
    <small class="text-muted">{{e.venue}}</small>
  </h3>  
  <h3>
    Dirección:
    <small class="text-muted">{{e.address}}</small>
  </h3>
  <h3>
    Teléfono de contacto:
    <small class="text-muted">{{e.phone}}</small>
  </h3>  
  <h3>
    Aforo:
    <small class="text-muted">{{e.seats}}</small>
  </h3> 
  <hr class="mt-3" />
  <h3>
    Nombre del Evento:
    <small class="text-muted">{{e.nameEvent}}</small>
  </h3>
  <h3>
    Fecha:
    <small class="text-muted">{{e.date}}</small>
  </h3>
  <hr class="mt-3" />

  <h3>Configuraciones</h3>

  <div  *ngIf="createdConfigurations;else noConfig">
    <span class="h4">Localidad:</span><span class="badge badge-success">Localidades creadas</span> - <a class="" [routerLink]="['/edit-configurations', e.idEvent]" ><i class="fa fa-edit"> Editar Localidades</i> </a>
  </div>
  <ng-template #noConfig>
      <span class="h4">Localidad:</span><span class="badge badge-primary">Localidades no creadas</span> - <a class="" ><i class="fa fa-plus-square"> Crear Localidades</i></a>
  </ng-template>
  <br>

  <div *ngIf="createdSections;else noSection">
    <span class="h4">Secciones:</span><span class="badge badge-success">Secciones creadas</span> - <a class="" ><i class="fa fa-edit"> Editar Secciones</i> </a>
  </div>
  <ng-template #noSection>
      <span class="h4">Secciones:</span><span class="badge badge-primary">Sectiones no creadas</span> - <a class="" ><i class="fa fa-plus-square"> Crear Secciones</i></a>
  </ng-template>
  
  
  <hr class="mt-3" />

<h3>Filas: </h3>
<div class="card border-primary mb-3">
    <table id="entry-grid" datatable="ng" class="table table-hover">
      <thead>
        <tr align="left">
          <th>Localidad</th>
          <th>Aforo</th>
          <th>Sección</th>
          <th>Fila</th>
          <th>Aforo por Fila</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr align="left" *ngFor="let row of rows">
          <td>{{row.localidad}}</td>
          <td>{{row.seatsNumber}}</td>
          <td>{{row.sectionName}}</td>
          <td>{{row.rowName}}</td>
          <td>{{row.seatsPerRow}}</td>
          <td>
            
              <div *ngIf="!isGenerated(row.idRow);else noGenerate">
                  <a class="btn btn-sm btn-danger" (click)="generarTickets(row);"><i class="fa fa-minus-circle"> Generar tickets</i></a>
              </div>
              <ng-template #noGenerate>
                  <a class="btn btn-sm btn-success" (click)="generarArchivo(row.idRow);" ><i class="fa fa-eye"> Ver Boletos</i></a>
              </ng-template>

              
              
          </td>
        </tr>     
      </tbody>
</table>
  </div>
</div>
