<div class="jumbotron mt-5">

    <div *ngFor="let e of event">
        <div *ngIf="e.uid == uid; else noLogin">
  
        <h3>
          Lugar:
          <small class="text-muted">{{e.venue}} </small>
        </h3> 
        
      
        <h3>
          Dirección:
          <small class="text-muted">{{e.address}}</small>
        </h3>
        <h3>
          Teléfono de contacto:
          <small class="text-muted">{{e.phone}}</small>
        </h3>  
        <h3>
          Aforo:
          <small class="text-muted">{{e.seatsVenue}}</small>
        </h3> 
        <hr class="mt-3" />
        <h3>
          Nombre del Evento:
          <small class="text-muted">{{e.nameEvent}}</small>
        </h3>
        
      
        <h3>
          Fecha:
          <small class="text-muted">{{e.date}}</small>
        </h3>

        <h3>
            Aforo del Evento:
            <small class="text-muted">{{e.seats}}</small>
          </h3>
        
  <hr class="mt3">


  <br class="mt-1" />
  <div *ngFor="let totalSeats of aforo">
  <h3>Aforo Total: {{totalSeats.totalSeats}}</h3>
  </div>
  <h3>Aforo Configurado: {{aforoTotal}}</h3>
  <form #formConfigurations="ngForm" (ngSubmit)="onSubmit()" id="form-configurations">
    <div class="form-group">
      <label for="localidad">Localidad</label>
      <input class="form-control" type="text" id="localidad" name="localidad" [(ngModel)]="name" placeholder="nombre de la localidad, ej. tribuna">
    </div>

    <div class="form-group">
      <label for="seatsNumber">Número de Asientos/Asistentes</label>
      <input class="form-control" type="text" id="seatsNumber" name="seatsNumber" [(ngModel)]="seats"  placeholder="Asistentes">
    </div>

      <a (click)="addConfigurationTable(name, seats);" class="btn btn-sm btn-warning">Agregar</a>

    <table id="entry-grid" datatable="ng" class="table table-hover">
      <thead>
        <tr>
          <!--th style="width: 1%" class="text-center">No.</th-->
          <th>Localidad</th>
          <th>Número de Asistentes</th>
          <th>Acciones</th>
          <!--th></th-->
        </tr>
      </thead>
      <tbody>
        <tr align="left" *ngFor="let configuration of localidades">
          <td>{{configuration.name}}</td>
          <td>{{configuration.seatsNumber}}</td>
          <td>
            <div class="botones" *ngIf="configuration.idConfiguration != 0; else noId">
              <!--a (click)="borrarConfirm(configuration);" class="btn btn-sm btn-danger">X</a-->
              <a class="btn btn-outline-danger" (click)="open(DelConfiguration);"><i class="fa fa-minus-circle"></i></a>

            </div>
            <ng-template #noId>
                <div class="botones">
                    <a (click)="onDeleteConfiguration(configuration);" class="btn btn-outline-danger">Quiero eliminarlo</a>
                  </div>
            </ng-template>

            <ng-template #DelConfiguration let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Atención</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Esta a punto de eliminar esta Localidad!&hellip;</p>
                    <p>¿Desea continuar con esta acción?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="borrarConfirm(configuration);onDeleteConfiguration(configuration);c('Close click')" >Eliminar</button>
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                  </div>
            </ng-template>
            
          </td>
        </tr>     
      </tbody>
    </table>
      <div *ngIf="aforo;else noAforo">
        <div *ngFor="let totalSeats of aforo">
          <div *ngIf="aforoTotal <= totalSeats.totalSeats; else other_content">
            <!--input type="submit" value="{{title}}" [disabled]="!formConfigurations.form.valid" class="btn btn-success" /-->
          <button type="submit" class="btn btn-default">Siguiente</button>
        </div>
        <ng-template #other_content><h2>¡El número de asistentes no puede superar el aforo total!</h2></ng-template>

      </div>
      <ng-template #noAforo>Ingrese al menos una localidad...</ng-template>
    </div>

  </form>
  </div>
</div>
<ng-template #noLogin>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Este evento no pertenece a este usuario.</p>
      </div>
</ng-template>
</div>