<div class="jumbotron">

    <div *ngFor="let e of event">
        <h3>
          Lugar:
          <small class="text-muted">{{e.venue}} </small>
        </h3> 
        
      
        <h3>
          Dirección:
          <small class="text-muted">{{e.address}}</small>
        </h3>
        <h3>
          Teléfono de contacto:
          <small class="text-muted">{{e.phone}}</small>
        </h3>  
        <h3>
          Aforo:
          <small class="text-muted">{{e.seatsVenue}}</small>
        </h3> 
        <hr class="mt-3" />
        <h3>
          Nombre del Evento:
          <small class="text-muted">{{e.nameEvent}}</small>
        </h3>
      
      
        <h3>
          Fecha:
          <small class="text-muted">{{e.date}}</small>
        </h3>

        <h3>
            Aforo del Evento:
            <small class="text-muted">{{e.seats}}</small>
          </h3>
        
  </div>      
  <hr class="mt3">

  <form #formAddRows="ngForm" (ngSubmit)="onSubmit()" id="form-add-rows">
    <div class="form-group" *ngIf="aforoSeccion <= asistentes || aforoTotal == 0; else disabledSelect" >
      <h3>Localidades</h3>
      <ng-select [items]="configurations"
                bindLabel="name"
                bindValue="idConfiguration"
                placeholder="Selecciona la Localidad"
                [(ngModel)]="idConfiguration"
                (change)="selected($event)"
                [ngModelOptions]="{standalone: true}">
      </ng-select>
    
    
      <h3>Secciones</h3>
      <ng-select [items]="sections"
                bindLabel="name"
                bindValue="idSection"
                placeholder="Selecciona la Localidad"
                [(ngModel)]="idSection"
                (change)="selectedSection($event)"
                [ngModelOptions]="{standalone: true}"
                >
      </ng-select>

    </div>

    <ng-template #disabledSelect> 
        <h3>Localidades</h3>
        <ng-select [items]="configurations"
                  bindLabel="name"
                  bindValue="idConfiguration"
                  placeholder="Selecciona la Localidad"
                  [(ngModel)]="idConfiguration"
                  (change)="selected($event)"
                  [ngModelOptions]="{standalone: true}"
                  disabled>
        </ng-select>
      
        
      <!--/div>
  
      <div class="form-group"-->
        <h3>Secciones</h3>
        <ng-select [items]="sections"
                  bindLabel="name"
                  bindValue="idSection"
                  placeholder="Selecciona la Localidad"
                  [(ngModel)]="idSection"
                  (change)="selectedSection($event)"
                  [ngModelOptions]="{standalone: true}"
                  disabled>
                  
        </ng-select>
    </ng-template>

    <div>
      <div *ngFor="let totalSeats of aforo">
        <h3>Aforo Total: {{totalSeats.totalSeats}}</h3>
      </div>
      <h4>Cantidad de Asistentes en esta Localidad: {{asistentes}}</h4>
    </div>
    <hr class="mt-3">
    <div class="form-group">
      <h3 for="name">Número de fila</h3>
      <input class="form-control" type="text" id="name" name="name" [(ngModel)]="name" placeholder="número de fila">
    </div>

    <div class="form-group">
      <h3 for="seatsPerRow">Asientos por fila</h3>
      <input class="form-control" type="text" id="seatsPerRow" name="seatsPerRow"  [(ngModel)]="seats" placeholder="cantidad de asientos por fila">
    </div>

    <a (click)="addRowTable(name, seats);" class="btn btn-sm btn-warning">Agregar</a>
<hr class="mt-3">

<div *ngIf="aforo;else noAforo">
    <div *ngFor="let totalSeats of aforo">
      <div *ngIf="aforoTotal <= totalSeats.totalSeats; else other_content">
        <!--div *ngIf="aforoSeccion<=asistentes;else noAforoLocalidad"-->
        <div *ngIf="aforoSeccion > asistentes">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0"> {{aforoSeccion}} - {{asistentes}} ¡El número de asistentes SUPERA el aforo de esta localidad!.</p>
              </div>
        </div>
    </div>
  </div>
  <!--ng-template #noAforoLocalidad>
      
  </ng-template-->
      
    <ng-template #other_content>
      <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">¡El número de asistentes no puede superar el aforo total!</p>
      </div>
    </ng-template>
  <ng-template #noAforo>Ingrese al menos una localidad...</ng-template>

</div>




    <table id="entry-grid" datatable="ng" class="table table-hover">
      <thead>
        <tr>
          <!--th style="width: 1%" class="text-center">No.</th-->
          <th>Localidad</th>
          <th>Seccion</th>
          <th>Fila</th>
          <th>Numero de Asientos x Fila</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr align="left" *ngFor="let row of rows">
          <td>{{row.localidad}}</td>
          <td>{{row.sectionName}}</td>
          <td>{{row.rowName}}</td>
          <td>{{row.seatsPerRow}}</td>
          <td>
            
              <div class="botones" *ngIf="row.idRow != 0;else noId">
                  <a class="btn btn-outline-danger" (click)="open(delRow);c('Close click')"><i class="fa fa-minus-circle"></i></a>
              </div>
              <ng-template #noId>
                  <a (click)="onDeleteRow(row);" class="btn btn-sm btn-danger">Quiero eliminarlo</a>
              </ng-template>
              
              <ng-template #delRow let-c="close" let-d="dismiss">
                  <div class="modal-header">
                      <h4 class="modal-title">Atención</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Al realizar esta acción se eliminará los tickets generados para esta fila!&hellip;</p>
                      <p>¿Desea continuar con esta acción?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="deleteRow(row);" >Eliminar</button>
                      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>
              </ng-template>
              

          </td>
          
        </tr>     
      </tbody>
    </table>
    
    <div *ngIf="aforoSeccion > asistentes || aforoTotal == 0; else NoOkButton">
        <button type="submit" class="btn btn-default" disabled>Siguiente</button>
    </div>
    <ng-template #NoOkButton>
        <button type="submit" class="btn btn-default">Siguiente</button>
    </ng-template>
    
    
    <!--button type="submit" class="btn btn-default">Siguiente</button-->

  </form>
</div>